
# Build directories
taste_models/*/work/build
taste_models/*/work/binaries
taste_models/*/work/Debug
taste_models/*/work/Dump
**/wrapppers/

# Aadl files
**/*.aadl

# Msc files
**/*.msc

# Qt Creator clangd cache directories
**/.qtc_clangd/

# Qt Creator autogen files
**/*.pro.user*

# VSCode configuration files
.vscode/settings.json

# Models sandbox folder
taste_models/sandbox

# SDL autogen files
**/work/partition_1_timer_manager/
**/work/*/SDL/code/
**/work/*/SDL/src/dataview-uniq.asn
**/work/*/SDL/src/dataview.md5
**/work/*/SDL/src/system_structure.pr*

