
# Build directories
taste_models/*/work/build
taste_models/*/work/binaries
taste_models/*/work/Debug
taste_models/*/work/Dump

# Qt Creator clangd cache directories
.qtc_clangd/

# VSCode configuration files
.vscode/settings.json
